.button {
  padding: 13px 30px;
  background: #DC780B;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  text-decoration: none;

  &--big {
    padding: 21px 36px;
  }
}